  <div class="loading-screen">
    <div class="content animated fadeInDown">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <h2 class="section-heading">Loading drinks</h2>
            <h3 class="section-subheading">Raise a glass...</h3>
    </div>
  </div>


  <h2 class="text-success"><%= @bar.name%> Drinks</h2>
<% @drinks.each_slice(3) do |three_drinks| %>
  <div class="row">
      <% three_drinks.each do |drink| %>
        <div class="col-md-4">
         
              <div class="panel panel-success">
                  <div class="panel-heading">
                  <h3 class="panel-title"><%= drink.name %></h3>
                  </div>
                        <div class="panel-body" style="text-align: center">
                            <img src="<%= drink.img_src %>" style="max-width:100%; height:200px">
                              <%= form_tag "/carted_drinks", method: :post do %>
                                <div>
                                    <%= hidden_field_tag :drink_id, drink.id, class: 'form-control' %>
                                </div>
                                 <div>
                                    <p class="text-success" style="text-align: left"><strong><%= label_tag :quantity %></strong></p>
                                    <%= text_field_tag :quantity, '', class: 'form-control' %>
                                </div>
                                <div style="text-align: left">
                                <input type="submit" name="commit" value="Add to Cart" data-disable-with="Add to Cart" class="btn btn-success">
                                </div>
                          <% end %>
                          </div>
            </div>
          </div>
      <% end %>
      </div>
<% end %>





       
                  
                



 


