<table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>Order #</th>
                    <th>Email: </th>
                    <th>Subtotal: </th>
                    <th>Tax: </th>
                    <th>Tip: </th>
                    <th>Total: </th>
                    <th>Drink: </th>
                    <th>Quantity: </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="info">
                    <td><strong><%= @order.id %></strong></td>
                    <td><strong><%= @order.user.email %></strong></td>
                    <td><strong><%= @order.subtotal %></strong></td>
                    <td><strong><%= @order.tax %></strong></td>
                    <td><strong><%= @order.tip %></strong></td>
                    <td><strong><%= @order.total %></strong></td>
                    <% @amount.each do |quant| %>
                    <td><strong><%= quant.drink.name %></strong></td>
                    <td><strong><%= quant.quantity %></strong></td>
                    <% end %>
                </tr>
                </tbody>
              </table>


<h3 class="text-info">Want to know where to pick up your drink?</h3>

<%= form_tag '/pictures', method: :post, multipart: true do %>
<div class="btn btn-info btn-lg"><p><label for="upload_file">Upload your ticket below and find out where the closest bar is!</label>
<%= file_field 'upload', 'datafile', accept: "image/*;capture=camera" %></p>
<% end %>
</div>
<div id="results"></div>
<script>
/* global $ */
// Based on code from http://code.hootsuite.com/html5/ && http://rohitrox.github.io/2013/07/19/canvas-images-and-rails/
if (window.File && window.FileReader && window.FormData) {
  var $inputField = $('#upload_datafile');
  $inputField.on('change', function(e) {
    var file = e.target.files[0];
    if (file) {
      if (/^image\//i.test(file.type)) {
        readFile(file);
      } else {
        console.log('Not a valid image!');
      }
    }
  });
} else {
  console.log("File upload is not supported!");
}
function readFile(file) {
  var reader = new FileReader();
  reader.onloadend = function() {
    processFile(reader.result, file.type);
  };
  reader.onerror = function() {
    console.log('There was an error reading the file!');
  };
  reader.readAsDataURL(file);
}
function processFile(dataURL, fileType) {
  var maxWidth = 800;
  var maxHeight = 800;
  var image = new Image();
  image.src = dataURL;
  image.onload = function() {
    var width = image.width;
    var height = image.height;
    var shouldResize = (width > maxWidth) || (height > maxHeight);
    if (!shouldResize) {
      console.log('!shouldResize');
      sendFile(dataURL);
      return;
    }
    var newWidth;
    var newHeight;
    if (width > height) {
      newHeight = height * (maxWidth / width);
      newWidth = maxWidth;
    } else {
      newWidth = width * (maxHeight / height);
      newHeight = maxHeight;
    }
    var canvas = document.createElement('canvas');
    canvas.width = newWidth;
    canvas.height = newHeight;
    var context = canvas.getContext('2d');
    context.drawImage(this, 0, 0, newWidth, newHeight);
    dataURL = canvas.toDataURL(fileType);
    sendFile(dataURL);
  };
  image.onerror = function() {
    console.log('There was an error processing your file!');
  };
}
function sendFile(fileData) {
  document.getElementById('results').innerHTML = 'loading...';
  var formData = new FormData();
  formData.append('imageData', dataURLtoBlob(fileData), 'blob.png');
  $.ajax({
    type: 'POST',
    url: '/pictures',
    data: formData,
    contentType: false,
    processData: false,
    success: function(response) {
      if (response.success) {
        console.log('Your file was successfully uploaded!', response);
        document.getElementById('results').innerHTML = response.data;
      } else {
        console.log('There was an error uploading your file!');
      }
    },
    error: function(response) {
      console.log('There was an error uploading your file!', response);
    }
  });
}
function dataURLtoBlob(dataURL) {
  var binary = atob(dataURL.split(',')[1]);
  var array = [];
  for (var i = 0; i < binary.length; i++) {
    array.push(binary.charCodeAt(i));
  }
  return new Blob([new Uint8Array(array)], {type: 'image/png'});
}
</script>


<h2> Order status...</h2>
<div ng-app="app">
  <div ng-controller="statusCtrl" ng-init="setup(<%=@order.id%>)" id="statusCtrl">
<div class="timeline-centered">
        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Order made!</a> <span>Your order has been sent to the bar..</span></h2>
                    <h3>A bartender has received your order and will start making a drink as soon as possible!</h3>
                </div>
            </div>

        </article>

             <article class="timeline-entry" ng-if="orderStatusMaking()">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-warning">
                    <i class="entypo-camera"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Drink Drink Hurray!</a></h2>

                    <h3>A bartender just started to make your drink! It will be ready very shortly!</h3>

                    <img src="/assets/images/beergif.gif" class="img-responsive img-rounded full-width" alt="">
                </div>
            </div>

        </article>

        <article class="timeline-entry" ng-if="orderStatusCompleted()">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-secondary">
                    <i class="entypo-suitcase"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Drink done!</a></h2>
                    <h3> Go grab your drink or drinks!!</h3>
                </div>
            </div>

        </article>

    </div>
  </div>
</div>

