<h1>Your order info: </h1>
<p> Email : <%= @order.user.email %> </p>
<p>Order id: <%= @order.id %> </p>
<p> Subtotal:<%= @order.subtotal %> </p>
<p> Tax:<%= @order.tax %> </p>
<p> Tip: <%= @order.tip %> </p>
<p> Total:<%= @order.total %> </p>
<% @purchases.each do |purchase| %>
<p><%= purchase.drink.name %></p>
  <p>Quantity ordered: <%= purchase.quantity %></p>
<% end %>

<h2> Order status...</h2>
<div ng-app="app">
  <div ng-controller="statusCtrl" ng-init="setup(<%=@order.id%>)">
<div class="timeline-centered">
        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Order made!</a> <span>Your order has been sent to the bar..</span></h2>
                    <h3>A bartender has received your order and will start making a drink as soon as possible!</h3>
                </div>
            </div>

        </article>

             <article class="timeline-entry" ng-if="orderStatusMaking()">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-warning">
                    <i class="entypo-camera"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Drink Drink Hurray!</a></h2>

                    <h3>A bartender just started to make your drink! It will be ready very shortly!</h3>

                    <img src="/assets/images/beergif.gif" class="img-responsive img-rounded full-width" alt="">
                </div>
            </div>

        </article>

        <article class="timeline-entry" ng-if="orderStatusCompleted()">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-secondary">
                    <i class="entypo-suitcase"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Drink done!</a></h2>
                    <h3> Go grab your drink or drinks!!</h3>
                </div>
            </div>

        </article>

    </div>
  </div>
</div>

