<h1>Checkout... </h1>
<% if current_user %>
  <h2><%= current_user.name %> wants to purchase:</h2>
<% end %>
<% @carteddrinks.each_slice(3) do |three_carteddrinks| %>
<div class= "row">
<% three_carteddrinks.each do |carteddrink|%>
<div class="col-md-4">
<div class="well">
<img src="<%=carteddrink.drink.img_src%>"
  <p><%= carteddrink.drink.name %></p>
  <%= link_to "Remove this product", "/carted_drinks/#{carteddrink.id}", method: :delete %>
  </div>
  <%= link_to "Go back to all drinks!", "/bars/#{carteddrink.drink.bar_id}"%>
  </div>
  <% end %>
</div>
<% end %>
<h4><a href= "/orders" data-method= "post">Buy Now!</a> </h4> 